
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.75s;}

.sidenav:hover {
    width: 240px;
}

#image{
    width: 250px;
    height: 240px;
}

.span{
    text-align: center;
    text-align:justify;
}

.Betutipus{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
}

.Szin{
    color: #ffffffce;
}

.Elhelyezkedes{
    text-align: left 300px center;
}

body{
            background-image: url("img/webhatter.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
}

.Rendeles{
    color: antiquewhite;
}

table, tr, td{
   border-color: #ffffffce ;
   color: #ffffffce;
   border-radius: 12%;
   border-style: dashed;
   border-width: 140%;

}