body {
    font-family: Arial, sans-serif;
    margin-left: 0; /* Set to 0 initially */
    padding: 0;
    background-color: aquamarine;
    transition: margin-left 0.3s; /* Smooth transition for margin */
}

.sidenav {
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease;
    background-color: #111;
    color: white;
}

.sidenav:hover {
    left: 0;
}

.sidenav .text {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidenav:hover .text {
    transform: translateX(0);
}