
body.dark{
    background: #111;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 0.75s;}

.sidenav:hover {
    width: 240px;
}

#image{
    width: 250px;
    height: 240px;
}

.span{
    text-align: center;
}

.Betutipus{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style: oblique;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: initial;
}