body {
    font-family: Arial, sans-serif;
    margin-left: 0; /* Set to 0 initially */
    padding: 0;
    background-color: aquamarine;
    transition: margin-left 0.3s; /* Smooth transition for margin */
}

body.dark{
    background: #111;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: width 1s;}

.sidenav:hover {
    width: 300px;
}
 
#tanulmany{
    font-family: 'Times New Roman', Times, serif;
}

#lakhely{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}