.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  transition: width 0.75s;
}

.sidenav:hover {
  width: 240px;
}

#image {
  width: 250px;
  height: 240px;
}

.span {
  text-align: center;
  text-align: justify;
}

.Betutipus {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: initial;
}

.Szin {
  color: #ffffffce;
}

.Elhelyezkedes {
  text-align: left 300px;
  text-align: center;
}

body {
  background-image: url("img/background\ 2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Rendeles {
  color: antiquewhite;
}

table,
tr,
td {
  border-color: #ffffffce;
  color: #ffffffce;
  border-radius: 12%;
  border-style: solid;
  border-width: 120%;
}

h2 {
  color: #ffffffce;
}

ol {
  list-style: upper-roman;
  color: #ffffffce;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: medium;
}

ul {
  list-style-type: circle;
  color: #ffffffce;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: medium;
}

#erdekesseg {
  width: 250px;
  float: right;
  margin: 0px 0px 20px 15px;
  background-color: darkcyan;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.keret {
  margin: 15px auto;
  text-align: center;
  padding: 15px;
  font-style: italic;
  font-size: 75%;
  background-color: darkcyan;
  box-shadow: 10px 10px 5px #35312d;
}

#image {
  width: 100px;
  margin: 60px;
  border: 5px solid black;
  transition: 1s;
  border-radius: 10px;
}
#image:hover {
  transform: scale(1.3); /* Corrected scale for uniform scaling */
}

#kepdiv {
  max-width: 10px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
footer {
  background-color: #10283b;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 55px;
  height: 170px;
  padding-top: 20px;
  margin-bottom: 5px;
}
a{
  color: #ddd;
}
.footerp {
  text-align: center;
  font-size: large;
}
/* Megnyitott oldalnak a tponavjának színváltozása*/
#Mainpage {
  background-color: deeppink;
}
#Keplink {
  background-color: deeppink;
}
#Listak {
  background-color: deeppink;
}
#Orarend {
  background-color: deeppink;
}
#Rendeles {
  background-color: deeppink;
}
#evszakok{
    background-color: deeppink;
}
table,
th,
td {
  border: 1px solid black;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-image: url();
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  width: 100%;
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  border-collapse: collapse;
}
#Sidenavcurrent {
    width: 30px;
    height: 30px;
}
#kollazsside{
  height: 150px;
}
/*orarend.html-re vonatkozoó css */
.orarend{
  margin-bottom: 50px;
}
.pirosdoboz{
  background-color: red;
  width: 1400px;
  height: 150px;
  margin: 10px 10px 10px 40px;
  color: white;
  padding: 20px;
}
.kekdoboz{
  background-color: blue;
  width: 670px;
  height: 150px;
  padding: 20px;
  margin: 10px 10px 10px 40px;
  color: white;
  float: left;
  
}
.zolddoboz{
  background-color: green;
  width: 670px;
  height: 150px;
  margin: 10px 40px 10px 10px;
  color: white;
  float: left;
}
.vilagoszold{
background-color: #04aa6d;
width: 200px;
height: 150px;
margin: 10px 40px 10px 10px;
color: white;
float: left;
border: 1px solid black;
}
.sarga{
  background-color: yellow;
  width: 200px;
  height: 150px;
  margin: 10px 40px 10px 10px;
  color: white;
  float: left;
}
.sarga2{
  background-color: yellow;
  color: black;
  width: 450px;
  height: 150px;
  margin: 10 40;
  float: left;
}
.lila{
  background-color: purple;
  width: 4500px;
  height: 150px;
  margin: 10 40;
  color: white;
  float: left;
}
.cyan{
  background-color: cyan;
  width: 450px;
  color: black;
  height: 150px;
  margin: 10 40;
  float: left;
}